<footer class="footer-container">
  <Footer::TextBox @heading="About Pandhakkaal">Aorem ipsum dolor sit amet elit sed lum tempor incididunt ut labore el dolore alg minim veniam quis nostrud lorem psum dolor sit amet sed incididunt.</Footer::TextBox>
  <Footer::TextBoxTitle @heading="Contacts">
    <div class="contacts-container">
      <div class="icon-container">
        <FaIcon @icon="map" class="font-icon-footer"/>
        <div class="icon-content">Pondicherry</div>
      </div>
      <div class="icon-container">
        <FaIcon @icon="mobile-button" class="font-icon-footer"/>
        <div class="icon-content">8508508528</div>
      </div>
      <div class="icon-container">
        <FaIcon @icon="envelope" class="font-icon-footer"/>
        <div class="icon-content">pandhakkaal@gmail.com</div>
      </div>
      <div class="icon-container">
        <FaIcon @icon="clock" class="font-icon-footer"/>
        <div class="icon-content">24/7</div>
      </div>
    </div>
  </Footer::TextBoxTitle>
  <Footer::TextBoxTitle @heading="social Media">
    <div class="social-media-container">
      <div class="icon-container">
        <FaIcon @icon="instagram" class="font-icon-footer" @prefix="fab"/>
        <a href="https://instagram.com/pandhakkaaleventorganizer" class="social-link" target="_blank">Instagram</a>
      </div>
      <div class="icon-container">
        <FaIcon @icon="facebook" class="font-icon-footer" @prefix="fab"/>
        <a href="#" class="social-link" target="_blank">Facebook</a>
      </div>
      <div class="icon-container">
        <FaIcon @icon="youtube" class="font-icon-footer" @prefix="fab"/>
        <a href="https://www.youtube.com/@pandhakkaaleventspy" class="social-link" target="_blank">Youtube</a>
      </div>
      <div class="icon-container">
        <FaIcon @icon="whatsapp" class="font-icon-footer" @prefix="fab"/>
        <a href="#" class="social-link" target="_blank">Whatsapp</a>
      </div>
    </div>
  </Footer::TextBoxTitle>
</footer>
<div class="copyright-container">© 2023-2030 Not Yet Decided | All Rights Reserved</div>