  <div class="field_container {{@class}}">
    <div class="field_holder">
      <textarea name={{@name}} id={{@id}} cols="100" rows="4" maxlength="300" placeholder={{@placeholder}} required/>
    </div>
  </div>