<div class="nav-bar-container">
  <div class="nav-bar-content-container">
    <LinkTo @route="index.home" class="nav-bar-item">Home</LinkTo>
  </div>
  <div class="nav-bar-content-container">
    <LinkTo @route="index.events" class="nav-bar-item">Events</LinkTo>
  </div>
  <div class="nav-bar-content-container">
    <LinkTo @route="index.pack" class="nav-bar-item">Packages</LinkTo>
  </div>
  <div class="nav-bar-content-container">
    <LinkTo @route="index.contact" class="nav-bar-item">Contact</LinkTo>
  </div>
  <div class="nav-end-container">
    <div class="avatar">T</div>
  </div>
</div>