<div class="login-wrapper">
  <div class="login-left">
    <img alt="pan" class="login-left-image" src="/assets/image/logo.png">
  </div>
  <div class="login-right">
    <div class="login-right-container">
      <div class="login-quotes-container">
        <div>Welcome to</div>
        <span>Pandhakkaal family</span>
      </div>
      <div class="login-title">
        <span>Login</span>
        <div>Your account</div>
      </div>
      <Default::Filed @placeholder="Enter Username" @type="text"/>
      <Default::Filed @placeholder="Enter password" @type="password"/>
      <div class="login-forgot">
        <a href="#" class="forgot">Forgot password</a>
      </div>
      <button type="button" class="login-button">Login</button>
      <div class="center-container">
        <a href="#" class="create-account">Create Account</a>
      </div>
    </div>
  </div>
</div>