<div class="footer-inner-wrapper">
  <div class="footer-inner-container">
    <div class="footer-sub-title-container">
      <div class="footer-bar"></div>
      <div class="footer-sub-title">{{@heading}}</div>
    </div>
    {{yield}}
  </div>
</div>
